<%= render 'layouts/search_list',  items: @product_types, 
  list_label: t(:product_types),
  item_label: Proc.new { |item| item.name },
  default_label: I18n.t(:hide_expired_items),
  alternate_label: I18n.t(:all_items),
  alternate_path: product_type_path(@product_type, alternate: 1) %>

<div class="span9">

  <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, :id => "flash_#{name}") %>
  <% end %>

  <div class="well">
    <%= render 'form' %>
  </div>
</div>

