<div class="span122">

  <%= render "shared/error_messages", :target => @work_order %>
  <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, :id => "flash_#{name}") %>
  <% end %>

  <div class="well">
    <%= render 'form' %>
  </div>
</div>

