// Place all the styles related to the work_orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.span1.item-selector {
  width: 10px;
}
.tab-pane.scrollable {
  height: 115px;
  overflow-y:scroll;
}
#work_order_comments {
  height: 300px;
  overflow-y: auto;
  margin: 5px;
  padding: 5px;
 background-color: #fff;
}
.delete-comment {
color: #D14;
margin-right:10px;
}
.fixed-modal-input-width {
width: 520px;
}
