<% product = @product if @product %>
<li class="comment">
<a href="#" class="product-select-item">
  <div>
    <span class="h5"><%= product.name %></span><span class="pull-right"><%= product.price %></span>
  </div>
</a>
</li>

