<%= render 'layouts/search_list',  items: @products, 
  list_label: t(:products),
  item_label: Proc.new { |item| item.name },
  alternate_label: I18n.t(:hide_expired_items),
  alternate_path: new_product_path(@product, alternate: 1) %>

<div class="span9">
  
  <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, :id => "flash_#{name}", class: "control-group-#{name}") %>
  <% end %>
  
  <div class="well">
    
  <legend>
    <%=t :new_product_legend_html %>
  </legend>
  <%= render 'form' %>
</div>
</div>
