<div class="span9">
  <div class="hero-unit">
    <h1><%= title %></h1>
    <p><%= intro %></p>
    <p>
    <%= link_to button, path, class: "btn btn-primary btn-large", id: 'new_item' %>
    </p>
  </div>
</div>

